:root {
    /* Primary */
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    
    /* Neutral */
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
    --bs-primary: #c9d9f1;
}

*{
    margin: 0;
    padding: 0;
}



body{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    background: var(--bs-primary);
    padding: 0px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.bg-img{
 
    transform:rotate(180deg);
    margin-top: 210px;
    margin-left: auto;
    margin-right: auto;
    height: 30rem;
    width: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 3rem;
    left: 23%;
    border-radius: 30px;
    background-color: white;
    height: 550px;
    width: 400px;
    align-items: center;
    
    
}

.header{
    flex: 0 0 15%;
   
    width: 100%;
   
    
}
.header img{
    height: 160px;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    box-sizing:border-box;
    padding-bottom: 20px;
    padding-top: 20px;
}

.order-summary{
    color: var(--Dark-blue);
    font-family: 'Red Hat Display bold', sans-serif;
    text-transform: capitalize;
    font-weight:700;
    font-size: x-large;
    line-height: 10px;
}

.listen{
    
    width: 80%;
    text-align: center;
    color: var(--Desaturated-blue);
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-family: var(--bs-font-sans-serif);
    font-weight:600;
}


.proceed-to-payment{
    cursor: pointer;
    background-color:#887bdf;
    width: 80%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-family: var(--bs-font-sans-serif);
    font-weight: 700;
}

.cancel{
    color: var(--blue-dark);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
    font-weight:bolder;
    cursor: pointer;
}

.father{
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    background-color:#f7f6fa;
    text-transform: capitalize;
    border-radius: 10px;
   padding-left: 13px;
   padding-right: 13px;
    box-sizing:border-box;
}
.son{
    display: flex;
    align-items: center;
}
.son div{
    margin: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}
.son h3{
    color: black
}
.son h4{
    color: var(--Desaturated-blue);
    font-weight: 600;
}
.son img{
    width: 40px;
    height: 40px;
}

.change{
    font-family: 'Red Hat Display bold', sans-serif ;
    font-weight: 600;
    color:hsl(224, 23%, 55%)
}
.change:hover{
    color: #6f42c1;
    cursor: pointer;
}
@media only screen and (max-width: 600px){
   
    .container{
        margin-left: -70px;
    }
}

@media only screen and (min-width: 700px){
    .container{
        margin-left: 20px;
    }
}



@media only screen and (min-width: 800px){
    .container{
        margin-left: 30px;
    }
}



@media only screen and (min-width: 900px){
    .container{
        margin-left: 60px;
    }
}

@media only screen and (min-width: 1000px){
    .container{
        margin-left: 120px;
    }
}

@media only screen and (min-width: 1200px){
    .container{
        margin-left: 150px;
    }
}



@media only screen and (min-width: 1440px){
    .container{
        margin-left: 100px;
    }
}